#seg p{
	margin-left: 10px;
}
#pic1{
	border-radius: 1200px;
	width: 600px;
	height:600px;
}
#headerstyle
{
	background-color: #0000066;
	padding -top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	border: transparent;


    
}
 .intro.tagline{
	background-position: 50% 50%;
	
	

}
.description p{

	text-align:justify;
	margin-left: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
}
a{
	color:black;
}
.bobycover
{
	background: url("../Images/cover.jpg") no-repeat center;
	padding-top: -350px;
	    min-height: 800px;
	    background-size: cover;
	    background-position: bottom;
	    background-position: 50% 50%;
}
.intro{
	text-align: center;
	margin: 0;
	padding-top: 400px;
}

#foodbg{
	background: url("../Images/food3.jpg")no-repeat center;
	padding-left: 0;
	margin-right: 0;
}
#hosp{
	background: url("../Images/hosp.png") no-repeat center;
}
#store{
	background: url("../Images/locket2.jpg") no-repeat center;
}
.footersection{
	font-family: italic;
	font-size: 20px;
    
	text-align: center;
} 
#mobile{
   display: none;
 }
 #web{
   display: flex;
 }


 @media only screen and (max-width:760px){
 #mobile{
   display: flex;
 }
 #web{
   display: none;
 }
 #image{
   display: none;
 }
}
#cardpart{
	margin top: 20px;
}
	.colourview{
background-color:pink;
}




.signcover {
    background: url('../Images/1.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
  }

  .form-holder {
    background: rgba(255,255,255,0.2);
    margin-top: 10%;
    border-radius: 3px;
  }

  .form-head {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 30px #000;
    margin: 15px auto 30px auto;
  }

  .remember-me {
    text-align: left;
  }
  .ui.checkbox label {
    color: #ddd;
  }


